<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Regular.ttf</string>
	</array>
	<key>CLIENT_ID</key>
	<string>850887787710-uepf83d8m2pnmu84kbmbrun5d6a3h8kd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850887787710-uepf83d8m2pnmu84kbmbrun5d6a3h8kd</string>
	<key>API_KEY</key>
	<string>AIzaSyDnfzOQN0x9zsIZ-G_hT2DnExH4zFRZkTs</string>
	<key>GCM_SENDER_ID</key>
	<string>850887787710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exampel.tik</string>
	<key>PROJECT_ID</key>
	<string>tik-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>tik-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:850887787710:ios:f62bd40be784016f998aef</string>
</dict>
</plist>
